.article {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  border: 1px solid #D5D8DC;
 }

 .article {
   padding: 50px 80px;
 }

.article__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article__info {
 display: flex;
 justify-content: flex-start;
 width: 45%;
}

.article__info p {
  padding-right: 20px;
}

.article h1 {
  color:  #424242;
}

.article__content {
  font-size: 18px;
}

.article_image {
  width: 100%;
}

.article__tags {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.article__tags p {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid#D5D8DC;
  background-color: #D5D8DC;
  font-size: 12px;
}

.article__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid#D5D8DC;
}

.likes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 5%;
  height: 20px;
}

.likes :nth-child(1) {
  font-size: 24px;
  cursor: pointer;
  color: red;
}